ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

ul.menu li {
    float: left;
}

ul.menu li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.menu li a:hover {
    background-color: #ccc;
}

ul.menu li a.active {
    font-weight: bold;
    background-color: #afbabf;
}