<ul class="menu">
    <li><a href="/about" {% if current_page == 'about' %}class="active"{% endif %}>О нас</a></li>
    <li><a href="/contact" {% if current_page == 'contact' %}class="active"{% endif %}>Контакты</a></li>
    <li><a href="/faq" {% if current_page == 'faq' %}class="active"{% endif %}>Faq</a></li>
    <li><a href="/partners" {% if current_page == 'partners' %}class="active"{% endif %}>Партнеры</a></li>
    <li><a href="/rules" {% if current_page == 'rules' %}class="active"{% endif %}>Правила приема</a></li>
</ul>
