<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main-ui.css">
</head>
<body>
{% include 'menu.twig' %}
    <h1>{{ title }}</h1>
    <p>Добро пожаловать на страницу {{ title }}!</p>
<p>{{ data|raw }}</p>
</body>
</html>